@import  "resto-view";
@import  "barrios-view";
@import  "resto-detail-view";
@import  "carta-view";
@import  "menu-view";
@import  "promo-view";
@import  "search-view";

.bar-stable {
  background: #f06d22 !important;
  .title {
    color: #fff !important;
    left: 0 !important;
    right: 0 !important;
  }
  .button {
    color: #fff !important;
  }
}
.tabs {
  // background: #333;
  // color: #fff;
  // padding-top: 0px;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  background: #16a085;
  color: #fff;
}
.tabs-icon-top > .tabs .tab-item {
  font-size: 11px !important;
  line-height: 4px !important;
}
.tab-item {
  padding : 4px !important;
} 
.tab-item .icon {
  font-size: 28px !important;
}

.bar {
  border-bottom: none;
}
.modal {
  z-index: 100000 !important;
}
//height es importante para el infinite scroll
.scroll {
  height: 100%;
  width: 100%;
}
.list {
  padding-top: 0 !important;
}
.not-found {
  color: #ccc;
  font-size: 15px;
  text-align: center;
  padding : 1em;
}
.advice {
  color: #333;
  font-size: 15px;
  text-align: center;
  padding : 1em; 
}