@import  "resto-view";
@import  "barrios-view";
@import  "resto-detail-view";
@import  "carta-view";
@import  "menu-view";
@import  "promo-view";



.bar-stable {
  background: #c0392b !important;
  .title {
    color: #fff !important;
  }
  .button {
    color: #fff !important;
  }
}
.bar {
  border-bottom: none;
}
.modal {
  z-index: 100000 !important;
}