.menu-list {
  .menu-item {
    padding: 0 !important;
    .price {
      position: absolute;
      right: 0;
      top: 2em;
      p {
        background: #c0392b;
        color: #fff;
        font-size: 1.3em;
        font-weight: 200;
        padding: 0.2em 0.5em;
      }
    }
    .image-container {
      height: 176px;
      span {
        width: 100%;
      }
    }
    .info-menu {
      background: rgba(0, 0, 0, 0.6);
      left: 0;
      right: 0;
      padding: 0.5em 1em;
      position: absolute;
      bottom: 0;
      h2 {
        color: #fff;
        font-weight: bold;
      }
      p {
        color: #fff;
        margin : 0;
        white-space: normal;
        word-break: break-word;
      }
    }
  }
}