<ion-view title="{{resto.name}}">
  <ion-content scrollbar-y="false" class="resto-detail-view" has-header="true">

    <div class="image-container-detail">
      <img ng-src="{{resto.image}}" image-resto />
      <a class="llamar" ng-href="tel:{{resto.telefono}}">
        <i class="ion-ios-telephone"></i>
      </a>
      <a class="llamar attr" ng-controller="attrCtrl">
        <i class="ion-more" ng-click="openModalAttr()"></i>
      </a>
      <a class="direccion direccion-detail">
        <div class="blank-point" ng-class="{'here' : resto.distance == 0 }"></div>
        <!-- <p ng-if="resto.distance == 0"class="estas-aqui">Estas Aqui</p> -->
        <p ng-if="resto.distance">{{resto.distance}}</p>
        <p ng-if="resto.distance" class="kms">kms</p>
      </a>
    </div>

    <div class="resto-details">
      <p>"{{resto.details}}"</p>
    </div>

  <div class="resto-info">
    <ul class="list">
      <li class="item">
        <h4>Horario</h4>
        <p>{{resto.open}}:00hrs a {{resto.close}}:00hrs</p>
        <div class="right-data">
          <p class="open" ng-if="current_time >= resto.open && current_time < resto.close">abierto</p>
          <p class="close" ng-if="current_time >= resto.close || current_time < resto.open">cerrado</p>
        </div>
      </li>

      <li class="item">
        <h4>Dirección</h4>
        <p>{{resto.direccion}}</p>
        <div class="right-data">
          <a ng-href="comgooglemaps://?saddr={{lat}},{{long}}&daddr={{resto.lat}},{{resto.lng}}&directionsmode=transit" class="vermapa">Como llegar</a>
        </div>
      </li>

      <ion-spinner icon="spiral" ng-if='!dataLoaded' class='text-center'></ion-spinner>
      <div ng-if='dataLoaded' class="data-container">
        <div class="menus-container" ng-controller="MenusCtrl">
          <h4 class="title">Menu del Día</h4>
          <p class="no-item" ng-if="menus.length < 1">No hay menus disponibles</p>
          <a ng-repeat="menu in menus" class="item menu-item item-thumbnail-left" ng-click="openModalMenu(menu)">
            <img ng-src="{{menu.image_url}}">
            <h2>{{menu.name}}</h2>
            <p>{{menu.entrada}},{{menu.fondo}},{{menu.postre}} </p>
          </a>
        </div>

        <div class="promos-container" ng-controller="PromosCtrl">
          <h4 class="title">Promociones</h4>
          <p class="no-item" ng-if="promos.length < 1">No hay promociones disponibles</p>
          <a loadMenus ng-repeat="promo in promos" ng-click="openModalPromo(promo)" class="item menu-item item-thumbnail-left">
            <img ng-src="{{promo.image_url}}">
            <h2>{{promo.name}}</h2>
            <p>{{promo.description}}</p>
          </a>
        </div>
      </div>

    </ul>
  </div>

  </ion-content>
</ion-view>
