<ion-view title="{{barrio.name}}">
 
  <ion-nav-buttons side="right" ng-controller="FilterCtrl">
      <button class="button button-icon icon ion-ios7-settings" ng-click="openModal()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right" ng-controller="SearchCtrl">
      <button class="button button-icon icon ion-ios7-search" ng-click="openModalSearch()"></button>
  </ion-nav-buttons>
  
  <ion-content class="has-header" padding="false">
    
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-slide-box ng-if="dataIsThere" class="resto-slides" does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)">
    
      <ion-slide ng-click="setSelectedResto(prem)" ng-repeat="prem in premRestos">  
          <a ui-sref="tab.restos-detail({id :prem.id})">
          <div class="image-container">
            <img class="bttrlazyloading" ng-src="{{prem.image_url}}" imageResto>
            <div class="restos-data">
              <div class="data">
                <h2>{{prem.name}}</h2>
                <p>{{prem.tipo}}</p>
              </div>
            </div>
          </div>
        </a>
      </ion-slide>

    </ion-slide-box>

    <div class="list" ng-if="dataIsThere">
      <li 
        class="resto-item item item-thumbnail-left"
        collection-repeat="resto in restos | orderBy:predicate"
        collection-item-width="'100%'"
        collection-item-height="100"
        ng-style="{height: 100}"
        ng-click="setSelectedResto(resto)"
        ui-sref="tab.restos-detail({id :resto.id})">
        
        <div class="avatar-container">
          <img ng-src="{{resto.image_url_small}}">  
        </div>
        <h2>{{resto.name}}</h2>
        <div class="tipo">
          <p>{{resto.tipo}}</p>
              <div class="info-right">
          <div ng-if="resto.distance" class="distancia">
            <i class="icon ion-ios7-location"></i>
            <p>{{resto.distance}} kms</p>
          </div>
        </div>
      </li>
    </div>

    </ion-content >
</ion-view>
