<ion-view title="Elige un restaurante">

  <ion-nav-buttons side="right">
        <div ng-controller="SearchCtrl">
          <button class="button button-icon icon ion-ios-search" ng-click="openModalSearch()"></button>
        </div>
  </ion-nav-buttons>

  <ion-content scrollbar-y="false" class="has-header" padding="false">
  
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="updateRestos()">
    </ion-refresher>
    
    <h4 ng-if="errorMsg" class="text-align-center">{{errorMsg}}</h4>

    <ion-list>
      <ion-item
        class="resto-item item full-width"
        collection-repeat="resto in restos"
        collection-item-height="245"
        ng-style="{height: 245}"
        ui-sref="restos-detail({id :resto.id})">

        <div class="image-container" >
          <img ng-src="{{resto.image}}" image-resto/>
        </div>
        <a class="direccion direccion-restos">
          <div class="blank-point" ng-class="{'here' : resto.distance == 0 }"></div>
          <p ng-if="resto.distance">{{resto.distance}}</p>
          <p ng-if="resto.distance" class="kms">kms</p>
        </a>
        <div class="tipo">
          <h2>{{resto.name}}</h2><span>| {{resto.tipo}}</span>
          <p>{{resto.details}}</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      ng-if="hasMoreData"
      spinner="ios"
      on-infinite="loadMore()"
      distance = "20%">
    </ion-infinite-scroll>

    </ion-content >
</ion-view>
