button.button-icon.icon.ion-ios7-arrow-back.button.back-button {
  color: #fff;
}
  .atras-container {
    margin: 1.2em 0.5em;
    position: absolute;
    top: 0;
    width: 54px;
    z-index: 10000000;
    button {
      color: #fff;
    }
  }
  .pages-header {
    margin: 0.9em 0.2em !important;
  }

.image-container-detail {
  height: 186px;
  overflow: hidden;
  position: relative;
  .overlay-top {
    position: absolute;
    top: 0;
    height: 67px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); 
  }
  .overlay {
    position: absolute;
    bottom: 0;
    height: 84px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.90)));
  }
  .resto-name {
    bottom: 6px;
    margin: 0.4em 0.8em;
    position: absolute;
    h2 {
      color: #fff;
      font-size: 2em;
      margin:0;
    }
    h4 {
      color: #f06d22;
      margin: 0;
      text-transform: capitalize;
    }
  }
  span {
    background-color: #333 !important;
    height: 100%;
    width: 320px;
    img {
      width: 100%;
    }
  }
  .llamar {
    bottom: 11px;
    background: #16a085;
    border-radius: 33px;
    color: #fff;
    margin : 0 auto;
    position: absolute;
    padding: 0.5em 0.8em;
    right: 1em;
    text-align: center;
    text-decoration: none;
    width: 44px;
    i {
      font-size: 2em;
    }
  }
  .direccion{
      right: 1em;
      position: absolute;
      width: 44px;
      bottom: 101px;
      text-align: center;
    .blank-point {
      height: 18px;
      width: 16px;
      position: absolute;
      background: #f06d22;
      right: 0;
      left: 13px;
      top: -18px;
      border-radius: 20px;
      z-index: 1;
    }
    i {
      font-size: 6em;
      position: absolute;
      top: -35px;
      right: 1px;
      margin: 0em;
      bottom: 0em;
      color: #f06d22;
      z-index: 2;
    }
    .kms {
      margin: 0 auto;
      padding: 0;
      position: absolute;
      bottom: -14px;
      left: 0;
      font-size: 0.7em;
      right: 2px;
      width: 20px;
      font-weight: 400
    }
    p {
      margin: 0;
      right: 2px;
      line-height: 21px;
      font-weight: bold;
      z-index: 1000000;
      color: #fff;
      position: absolute;
      left: 0;
      bottom: -1px;
    }
  }
}
.right-data {
  right: 0.5em;
  position: absolute;
  top: 1em;
  p {
    border-radius: 6px;
    color: #fff;
    font-size: 0.7em;
    padding: 0.2em 0.5em;
    text-align: center;
    text-transform: capitalize;
  }
  .open {
    background: #16a085;
    width: 60px;
  }
  .close {
    background: #e74c3c;
    width: 60px;
  }
  .vermapa {
    background: #f06d22;
    width: 60px;
  }
}
.modal-map {
  height: 100%;
  .close-map {
    background: #f06d22;
    border-radius: 10px 0px 0px 10px;
    color: #fff;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 3em  ;
    z-index: 1000000;
  }
  .map-container {
    height: 100%;
    #map {
      height: 100%;
    }
  }
}
.absolute-bar {
  position: absolute;
  top: 44px;
  z-index: 1000000;
}
.button-bar {
  background: #fff;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  z-index: 1000000;
  a {
    font-size: 0.8em;
    padding: 0!important;
  }
  .button {
    background-color: #fff !important;
    border-color :#16a085 !important;
    min-height: 32px !important;
    line-height: 30px !important;
  }
  .button.active{
    box-shadow: none !important;
    background: #16a085 !important;
    color: #fff !important;
  }
  .button:last-child {
    border-radius : 0px 6px 6px 0px;
  }
  .button:first-child {
    border-radius : 6px 0px 0px 6px !important;
  }
}

.resto-detail-view{
  bottom: 44px;
  .button {
    font-size: 11px;
    padding: 0 2px;
  }
}

.resto-details {
  background: #f06d22;
  padding: 0.2em 0;
  overflow: hidden;
  p {
    color: #fff;
    font-size: 1em;
    font-weight: inherit;
    margin: 0;
    padding: 0.7em;
    text-align: center;
  }
}
.resto-info {
  background: #fd9627;
  width: 100%;
  li:first-child {
    border-top: none;
  }
  li:last-child {
    border-bottom: none;
  }
  li {
    padding: 10px 16px;
    p {
      margin: 0;
    }
  }
}
.attr-container {
  float: left;
  text-align: center;
  width: 32%;
  p {
    color: #4d676e;
    margin: 0;
    opacity: 0.3;
    font-size: 12px;
  }
}
.enabled {
    background: #f06d22 !important;
    opacity: 1 !important;
  }
.opacity {
  opacity: 1 !important;
}
.resto-attr {
  background: #f1f1f1;
  padding: 0.6em ;
  overflow: hidden;
  .attr {
    border-radius: 26px;
    padding: 0.5em;
    margin: 0 auto;
    text-align: center;
    opacity: 0.3;
    width: 42px;
    i {
      color: #fff;
      font-size: 2em;
    }
  }
}

.popover-resto {
  height:30px; 
  text-align:center;
  h2 {
    color: #fff;
    font-size: 1.5em;
    text-transform: capitalize;
  }
}

.popover-backdrop.active{
  background:none !important;
}