.list{
  margin-bottom: 10px !important;
}
.resto-slides{
  height: 180px;
    img {
      width: 100%;
    }
}
.here {
  background: #27ae60 !important;
  border-top: none;
  h2 {
    color: #fff !important;
  }
  .tipo {
    p {
      color: #fff!important;
    }
  }
  .distancia {
    i {
      color: #fff !important;
    }
    p {
      color: #fff !important;
    }
  }
}
.avatar-container {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  overflow: hidden;
  border-radius: 41px;
  img {
    height: 80px;
  }
}
.resto-item:nth-child(odd) {
    background: #f1f1f1;
  }
.resto-item {
  left: 0;
  right: 0;
  h2{
    color: #f06d22;
    white-space: normal;
  }
  .enabled {
    color: #16a085!important;
    opacity: 1 !important;
  }
  .tipo {
    text-transform: capitalize;
    p {
      color: #333;
    }
    .mini-attr {
      float: left;
      margin: 0 2px;
      width: 14%;
      text-align: center;
      .attr {
        // background-color: #7f8c8d;
        border: 1px solid #16a085;
        border-radius: 40px;
        color: #16a085;
        opacity: 0.2;
        i {
          font-size: 0.8em;
        }
      }
    }
  }
}
.overlay {
  background-color: #000;
  opacity: 0.8;
}
.slider-pager .slider-pager-page {
  color: #c1c1c1!important;
}
.image-container{
  img {
    width: 100%;
  }
  span {
    background-color: #333 !important;
    height: 200px;
    width: 320px;
  }
}
.info-right {
  position: absolute;
  top: 17px;
  right: 10px;
  i {
    color: #f06d22;
    font-size: 1.7em;
  }
}
.distancia {
  margin-bottom: 0.5em;
  text-align: center;
  p {
  font-size: 0.8em;
  }
}
.restos-data{
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  .data {
    position: absolute;
    top: 23%;
    text-align: center;
    width: 100%;  
    h2 {
      color: #fff;
      font-weight: bold;
      font-size: 2.8em;
      margin-top: 10px;
      font-family: "Times New Roman", Georgia, Serif;
      font-style: italic;
    }
    p {
      color: #f39c12;
      font-weight: bold;
      font-size: 0.9em;
      }
    } 
  }

.buttons-right {
  right: 10px;
  position: absolute;
  top: 54px;
  z-index: 10000000;
  p {
    float: left;
    margin: 0 0.4em;
  }
  p:last-child {
    margin: 0 0 0 0.4em;
  }
}

.filter-view {
  background: #fff;
  .bar {
    background: #f06d22;
    h1 {
      color: #fff;
    }
  }
  .button {
    border: none;
    border-radius: 8px;
    background: #f06d22;
    color: #fff;
  }
  .filter-item {
    .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
      background: #f06d22;
    }
    .checkbox input:before, .checkbox .checkbox-icon:before {
      border-color: #f06d22;
    }
    .checkbox input:after, .checkbox-icon:after {
      border-color: #fff;
    }
    label {
      background: #fff;
      border-color: #ccc;
      color: #333;
      text-transform:capitalize;
    }
  }
}
