.image-container-detail {
  height: 200px;
  overflow: hidden;
  position: relative;
  .atras-container {
    margin: 1.8em 0.5em;
    position: absolute;
    top: 0;
    width: 54px;
    h2 {
      color: #fff;
      font-size: 1.2em;
      float: right;
    }
    i {
      color: #fff;
      float: left;
      font-size: 1.6em;
    }
  }
  .overlay-top {
    position: absolute;
    top: 0;
    height: 67px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); 
  }
  .overlay {
    position: absolute;
    bottom: 0;
    height: 67px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.90)));
  }
  .resto-name {
    bottom: 6px;
    color: #fff;
    margin: 0.2em 0.5em;
    font-size: 2em;
    position: absolute;
  }
  span {
    height: 100%;
    width: 320px;
    img {
      width: 100%;
    }
  }
  .llamar {
    bottom: 11px;
    background: #27ae60;
    border-radius: 33px;
    color: #fff;
    margin : 0 auto;
    position: absolute;
    padding: 0.5em 0.8em;
    right: 1em;
    text-align: center;
    text-decoration: none;
    width: 44px;
    i {
      font-size: 2em;
    }
  }
  .direccion{
    background: #f39c12;
    border-radius: 33px;
    right: 5em;
    position: absolute;
    width: 44px;
    bottom: 11px;
    color: #fff;
    text-align: center;
    .kms {
      margin: 0 auto;
      padding: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 0.6em;
      right: 0;
      width: 16px;
    }
    p {
      padding: 0.7em 0;
      margin: 0;
      font-size: 1.1em;
    }
  }
}
#map {
  height: 180px;
}
.absolute-bar {
  position: absolute;
  top: 44px;
  z-index: 1000000;
}
.button-bar {
  background: #fff;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  z-index: 1000000;
  a {
    font-size: 0.8em;
    padding: 0!important;
  }
  .button {
    background-color: #fff !important;
    border-color :#fd9627 !important;
    min-height: 32px !important;
    line-height: 30px !important;
  }
  .button.active{
    box-shadow: none !important;
    background: #fd9627 !important;
    color: #fff !important;
  }
  .button:last-child {
    border-radius : 0px 6px 6px 0px;
  }
  .button:first-child {
    border-radius : 6px 0px 0px 6px !important;
  }
}

.resto-detail-view{
  bottom: 44px;
  .button {
    font-size: 11px;
    padding: 0 2px;
  }
}

.resto-details {
  background: #ffa633;
  padding: 0.3em 0;
  overflow: hidden;
  p {
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    margin: 0;
    padding: 1em;
    text-align: center;
  }
}
.resto-info {
  background: #fd9627;
  width: 100%;
}