.list{
  margin-bottom: 10px !important;
}
.resto-slides{
  height: 180px;
  span {
    width: 320px;
    height: 200px;
    img {
      width: 100%;
    }
  }
}
.resto-item {
  left: 0;
  right: 0;
  img {
    border-radius: 20px;
    height: 78px;
  }
  h2{
    color: #f39c12;
    white-space: normal;
  }
  .tipo {
    text-transform: capitalize;
    p {
      color: #333;
    }
  }
}
.overlay {
  background-color: #000;
  opacity: 0.8;
}
.slider-pager .slider-pager-page {
  color: #c1c1c1!important;
}
.image-container{
  img {
    width: 100%;
  }
}
.info-right {
  position: absolute;
  top: 17px;
  right: 10px;
}
.distancia {
  margin-bottom: 0.5em;
  text-align: center;
  p {
  font-size: 0.8em;
  }
}
.hora {
  right: 0;
  position: absolute;
  p {
    border-radius: 6px;
    border: 1px solid;
    color: #fff;
    font-size: 0.7em;
    padding: 0.2em 0.5em;
    text-align: center;
    text-transform: capitalize;
  }
  .open {
    background: #27ae60
  }
  .close {
    background: #c0392b;
  }
}
.restos-data{
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  .data {
    position: absolute;
    top: 23%;
    text-align: center;
    width: 100%;  
    h2 {
      color: #fff;
      font-weight: bold;
      font-size: 2.8em;
      margin-top: 10px;
      font-family: "Times New Roman", Georgia, Serif;
      font-style: italic;
    }
    p {
      color: #f39c12;
      font-weight: bold;
      font-size: 0.9em;
      }
    } 
  }
