.search-view {
  .info-right-search {
    position: absolute;
    bottom: 54px;
    right: 10px;
    i {
      color: #f06d22;
      font-size: 2em;
    }
  }
  .item {
    padding-top: 27px !important;
  }
  .resto-search {
    .kms {
      color: #f06d22;
    }
    h2 {
      float: left;
    }
    span {
      float: left;
      margin-left: 6px;
      text-transform: capitalize;
    }
    p {
      margin: 0;
      width: 100%;
    }
    img {
      border-radius: 40px;
      height: 100%;
      width: 100%;
    }
  }
}
