<ion-modal-view class="my-overlay attr">
  <h2>Servicios</h2>
  <div class="list attr-list">
    <li ng-if="resto.hasWifi" class="item item-icon-right">
      Wifi
      <i class="icon ion-wifi"></i>
    </li>
    <li ng-if="resto.hasParking" class="item item-icon-right">
      Estacionamiento
      <i class="icon ion-model-s"></i>
    </li>
    <li ng-if="resto.hasReservas" class="item item-icon-right" >
      Reservas
      <i class="icon ion-ios-bookmarks"></i>
    </li>
    <li ng-if="resto.hasDelivery" class="item item-icon-right" >
      Delivery
      <i class="icon ion-ios-paperplane"></i>
    </li>
    <li ng-if="resto.hasTickets" class="item item-icon-right" >
      Cheque Restaurant
      <i class="icon ion-ios-pricetags"></i>
    </li>

  </div>
  <div class="bar bar-footer close" ng-click="closeModalAttr()">
    <div class="title">Cerrar</div>
  </div>
</ion-modal-view>
