.list {
  margin-bottom: 10px !important; }

.resto-slides {
  height: 180px; }

.slider-pager .slider-pager-page {
  color: #c1c1c1 !important; }

.image-container img {
  width: 100%; }

.atributos {
  position: absolute;
  top: 11px;
  right: 10px; }
  .atributos .reservas {
    background: #e74c3c; }
  .atributos .fumadores {
    background: #8e44ad; }
  .atributos .menuAtribute {
    background: #f1c40f; }
  .atributos .tickets {
    background: #2980b9; }
  .atributos .parking {
    background: #16a085; }
  .atributos p {
    border-radius: 6px;
    color: #fff;
    float: left;
    font-weight: bold;
    font-size: 0.7em;
    margin: 0 0.2em;
    padding: 0.1em 0.3em; }

.restos-data {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }
  .restos-data .data {
    position: absolute;
    top: 23%;
    text-align: center;
    width: 100%; }
    .restos-data .data h2 {
      color: #fff;
      font-weight: bold;
      font-size: 2.8em;
      margin-top: 10px;
      font-family: "Times New Roman", Georgia, Serif;
      font-style: italic; }
    .restos-data .data p {
      color: #f39c12;
      font-weight: bold;
      font-size: 0.9em; }

.barrio-slides {
  width: 320px !important;
  overflow: hidden; }
  .barrio-slides .barrio-slide {
    position: relative; }
  .barrio-slides .image-container img {
    height: 86vh;
    width: auto !important; }
  .barrio-slides .image-container .barrio-data {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; }
    .barrio-slides .image-container .barrio-data .data {
      position: absolute;
      top: 40%;
      text-align: center;
      width: 100%; }
      .barrio-slides .image-container .barrio-data .data h2 {
        color: #fff;
        font-weight: bold;
        font-size: 2.8em;
        margin-top: 10px;
        font-family: "Times New Roman", Georgia, Serif;
        font-style: italic; }
      .barrio-slides .image-container .barrio-data .data p {
        color: #f39c12;
        font-weight: bold;
        font-size: 0.9em; }

.image-container-detail {
  height: 190px;
  overflow: hidden; }
  .image-container-detail img {
    width: 100%; }

.resto-details {
  background: #ecf0f1;
  padding: 0.4em 0;
  overflow: hidden; }
  .resto-details .atributos {
    position: static !important; }
    .resto-details .atributos .atributo {
      width: 33%;
      float: left; }
      .resto-details .atributos .atributo span {
        display: block;
        margin-top: 7px; }
      .resto-details .atributos .atributo p {
        margin-left: 1.1em; }
    .resto-details .atributos .extend {
      width: 44%; }
    .resto-details .atributos p {
      font-size: 1em;
      margin: 0.3em 0.2em;
      padding: 0.2em 0.3em; }

.bar-stable {
  background: #c0392b !important; }
  .bar-stable .title {
    color: #fff !important; }
  .bar-stable .button {
    color: #fff !important; }

.bar {
  border-bottom: none; }
