<ion-modal-view>
    <ion-content class="search-view">
      
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input ng-model="text" ng-change="search(text)"  type="search" placeholder="Buscar">
        </label>
        <button ng-click="closeModalSearch()"class="button button-clear">
          Cancelar
        </button>
    </div>

    <div class="list">
      <a ng-click="goToResto(resto)" class="item resto-search item-thumbnail-left" ng-repeat="resto in restosSearch" ui-sref="restos-detail({id :resto.id})">
        <img ng-src="{{resto.image_url}}">  
        <h2>{{resto.name}}</h2>
        <span>| {{resto.tipo}}</span>
        <p>{{resto.details}}</p>
        <p class="kms">{{resto.distance}} kms</p>
      </a>
    </div>
    <h4 class="not-found" ng-if="showNoData">
      Ops! No hemos encontrado nada
    </h4>
    <h4 class="advice" ng-if="showGuideInfo">
      Puedes buscar por Nombre o Tipo de Restaurant
    </h4>

    </ion-content>

</ion-modal-view>