<ion-slide-box ng-if="dataIsThere" class="resto-slides" does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)">
    
    <ion-slide ng-repeat="resto in premRestos">  
        <a  href="#/tab/resto/{{resto.id}}">
        <div class="image-container">
          <img ng-src="img/{{resto.image}}.jpg">
          <div class="restos-data">
            <div class="data">
              <h2>{{resto.name}}</h2>
              <p>{{resto.details}}</p>
            </div>
          </div>
        </div>
      </a>
    </ion-slide>

</ion-slide-box>
