
<ion-slide-box ng-if="dataIsThere" class="resto-slides" does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)">

  <ion-slide ng-repeat="prem in premRestos">  
      <a  href="#/tab/resto/{{prem.id}}">
      <div class="image-container">
        <img ng-src="img/{{prem.image}}.jpg">
        <div class="restos-data">
          <div class="data">
            <h2>{{prem.name}}</h2>
            <p>{{prem.details}}</p>
          </div>
        </div>
      </div>
    </a>
  </ion-slide>

</ion-slide-box>